<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::head"></head>
<body style="">
<div class="global-wrap">

    <!--头部导航栏部分 Begin-->
    <ul th:replace="Navigation::nav"></ul>
    <!--头部导航栏部分 End-->

    <!--中间主题部分-->
    <div class="main-container" style="margin-top: -1px">

        <!--轮播图 Begin-->

        <div class="layui-carousel" id="test1">
            <div carousel-item>
                <div>
                    <img src="imgs/20d61a4540697d084ca90ea4e201cd5a.jpg" style="height: 100% ;width: 100%"
                         alt="服务保障首页"/>
                </div>
                <div><img src="imgs/20d61a4540697d084ca90ea4e201cd5a.jpg" style="height: 100% ;width: 100%"
                          alt="服务保障首页"/>
                </div>
                <div><img src="imgs/20d61a4540697d084ca90ea4e201cd5a.jpg" style="height: 100% ;width: 100%"
                          alt="服务保障首页"/>
                </div>
            </div>
        </div>
        <script>
            layui.use('carousel', function () {
                var carousel = layui.carousel;
                //建造实例
                carousel.render({
                    elem: '#test1'
                    , width: '100%' //设置容器宽度
                    , arrow: 'always' //始终显示箭头
                    //,anim: 'updown' //切换动画方式
                });
            });
        </script>

        <!--      <div class="index-banner" id="index-banner-flag">
                  <a href="javascript:void(0);" class="arrow-left">
                      <span class="bannner-arrow"></span>
                  </a>
                  <a href="javascript:void(0);" class="arrow-right">
                      <span class="bannner-arrow"></span>
                  </a>
                  <div class="swiper-container banner-sliders t8t-ad-swiper-custom">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                                  <img src="imgs/20d61a4540697d084ca90ea4e201cd5a.jpg" alt="服务保障首页"/>
                          </div>
                      </div>
                  </div>
                  <ul class="slider-btns">
                  </ul>
              </div>
              <img src="#" height="75" width="121" alt="土巴兔郑州装修网"
                   style="display:none;">-->
        <!--轮播图 End-->


        <!--装修主营业务展示部分　Begin-->
        <div class="index-entries ad-rabbit" id="d1bd4c8ea81c381b">
            <ul class="content-wrapper clearfix">
                <li class="entries-item">
                    <a href="https://zz.to8to.com/zb/" class="clearfix" target="_blank" data-pg="1_1_1_7320">
<span class="entries-item-info">
<h5 class="entries-item-title">免费设计</h5>
<span class="entries-item-tip">获取三份设计方案</span>
</span>

                        <div class="entries-item-banner" style="width: 80px; display: block;"><img
                                src="imgs/10e86caea90c6b69014d264e11ca940e25584.jpg"></div>
                        <span class="entries-item-icon entries-item-icon-first"></span>
                    </a>
                </li>
                <li class="entries-item">
                    <a href="https://www.to8to.com/yezhu/zxbj.php" target="_blank" data-pg="1_1_1_7321">
<span class="entries-item-info">
<h5 class="entries-item-title">免费报价</h5>
<span class="entries-item-tip">算算装修要花多少钱</span>
</span>

                        <div class="entries-item-banner" style="width: 80px; display: block;"><img
                                src="imgs/de97215dfcaf713b8c8b0e12a687646438801.jpg"></div>
                        <span class="entries-item-icon entries-item-icon-second"></span>
                    </a>
                </li>
                <li class="entries-item">
                    <a href="https://www.to8to.com/zb/wholeHouseCustom.php" data-ptag="1_1_1_5343" data-pg="1_1_1_7322"
                       target="_blank">
<span class="entries-item-info">
<h5 class="entries-item-title">全屋定制</h5>
<span class="entries-item-tip">让家轻松扩大n平米</span>
</span>

                        <div class="entries-item-banner" style="width: 80px; display: block;"><img
                                src="https://pic50.t8tcdn.com/adcms/ad/201812/25/c60a2437841b91eb5893873f5b724cb969855.jpg">
                        </div>
                        <span class="entries-item-icon entries-item-icon-sixth"></span>
                    </a>
                </li>
                <li class="entries-item">
                    <a href="https://www.to8to.com/zb/index11.html" target="_blank">
<span class="entries-item-info">
<h5 class="entries-item-title">装修分期</h5>
<span class="entries-item-tip">按月付款轻松住新家</span>
</span>

                        <div class="entries-item-banner" style="width: 80px; display: block;"><img
                                src="https://pic50.t8tcdn.com/adcms/ad/201812/25/7979b2c52e38611219a8f901930ddf5c14600.jpg">
                        </div>
                        <span class="entries-item-icon  entries-item-icon-third "></span>
                    </a>
                </li>
                <li class="entries-item">
                    <a href="https://www.to8to.com/huodong/quality.html" rel="nofollow" target="_blank">
<span class="entries-item-info">
<h5 class="entries-item-title">全程质检</h5>
<span class="entries-item-tip">请个质检盯工地</span>
</span>

                        <div class="entries-item-banner" style="width: 80px; display: block;"><img
                                src="https://pic50.t8tcdn.com/adcms/ad/201812/25/e03319039519ca362e307eda2b2d8f6e64082.jpg">
                        </div>
                        <span class="entries-item-icon entries-item-icon-fourth"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!--装修主营业务展示部分　End-->

        <!--装修公司推荐部分　Begin-->
        <div class="index-zzx index-common">
            <div class="content-wrapper clearfix">
                <div class="index-common-header">
                    <h2 class="index-common-title slow-emerge" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                        <span class="index-common-title-before"></span>
                        <a href="http://zz.to8to.com/company/">
                            郑州装修公司
                        </a>
                        <span class="index-common-title-after"></span>
                    </h2>
                    <span class="index-common-description">
甄选优质郑州装修公司，丰富选择实现理想家
</span>
                </div>
                <div class="index-zzx-company-box clearfix">
                    <div class="index-zzx-company">
                        <a href="http://zz.to8to.com/zs/2775756/" class="zzx-company-list click-count" target="_blank"
                           data-rsc="cmp_2775756_pc首页找装修____" data-comid="2775756">
                            <div class="zzx-company-img">
                                <div class="company-bag-url">
                                    <img src="https://img.to8to.com//to8to_pc/index/statics/img/15.jpg"
                                         class="zzx-company-bag"
                                         alt="郑州荣辉装饰设计有限公司">
                                </div>
                                <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                                       src="http://pic.to8to.com//user/56/headphoto_2775756_s.jpg">
                                </div>
                                <span class="zzx-company-tj bg-tuijian"></span>
                            </div>
                            <div class="zzx-company-detail">
                                <p class="zzx-company-name">荣辉装饰</p>
                                <ul class="zzx-company-data">
                                    <li class="clearfix"><em>设计案例：</em><span class="">739</span></li>
                                    <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">312</span>
                                    </li>
                                </ul>
                                <span class="zzx-company-bespoke company-zx-phone">免费预约：<span
                                        class="company-zx-phoneNum">186-3894-8913</span></span>
                            </div>
                        </a>
                        <a href="http://zz.to8to.com/zs/1266027/" class="zzx-company-list click-count" target="_blank"
                           data-rsc="cmp_1266027_pc首页找装修____" data-comid="1266027">
                            <div class="zzx-company-img">
                                <div class="company-bag-url">
                                    <img src="https://img.to8to.com//to8to_pc/index/statics/img/4.jpg"
                                         class="zzx-company-bag"
                                         alt="河南尚茂装饰工程有限公司">
                                </div>
                                <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                                       src="http://pic.to8to.com//user/27/headphoto_s_1266027_s.jpg?v=1557213417">
                                </div>
                                <span class="zzx-company-tj bg-tuijian"></span>
                            </div>
                            <div class="zzx-company-detail">
                                <p class="zzx-company-name">尚茂装饰</p>
                                <ul class="zzx-company-data">
                                    <li class="clearfix"><em>设计案例：</em><span class="">342</span></li>
                                    <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">231</span>
                                    </li>
                                </ul>
                                <span class="zzx-company-bespoke company-zx-phone">免费预约：<span
                                        class="company-zx-phoneNum">186-3894-8983</span></span>
                            </div>
                        </a>
                        <a href="http://zz.to8to.com/zs/10279481/" class="zzx-company-list click-count" target="_blank"
                           data-rsc="cmp_10279481_pc首页找装修____" data-comid="10279481">
                            <div class="zzx-company-img">
                                <div class="company-bag-url">
                                    <img src="https://img.to8to.com//to8to_pc/index/statics/img/20.jpg"
                                         class="zzx-company-bag"
                                         alt="河南凯亚装饰工程有限公司">
                                </div>
                                <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                                       src="http://pic.to8to.com//user/81/headphoto_s_10279481_s.jpg?v=1546566541">
                                </div>
                                <span class="zzx-company-tj bg-tuijian"></span>
                            </div>
                            <div class="zzx-company-detail">
                                <p class="zzx-company-name">河南凯亚装饰</p>
                                <ul class="zzx-company-data">
                                    <li class="clearfix"><em>设计案例：</em><span class="">79</span></li>
                                    <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">27</span>
                                    </li>
                                </ul>
                                <span class="zzx-company-bespoke company-zx-phone">免费预约：<span
                                        class="company-zx-phoneNum">186-3894-8382</span></span>
                            </div>
                        </a>
                        <a href="http://zz.to8to.com/zs/9072977/" class="zzx-company-list click-count" target="_blank"
                           data-rsc="cmp_9072977_pc首页找装修____" data-comid="9072977">
                            <div class="zzx-company-img">
                                <div class="company-bag-url">
                                    <img src="https://img.to8to.com//to8to_pc/index/statics/img/22.jpg"
                                         class="zzx-company-bag"
                                         alt="郑州市云睿装饰设计有限公司">
                                </div>
                                <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                                       src="http://pic.to8to.com//company/20181013/a62a07f171662e9e99f6bd0386ebfae5_s.jpg">
                                </div>
                                <span class="zzx-company-tj bg-tuijian"></span>
                            </div>
                            <div class="zzx-company-detail">
                                <p class="zzx-company-name">云睿装饰设计</p>
                                <ul class="zzx-company-data">
                                    <li class="clearfix"><em>设计案例：</em><span class="">178</span></li>
                                    <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">311</span>
                                    </li>
                                </ul>
                                <span class="company--enter--store">进入店铺</span>
                            </div>
                        </a>
                        <a href="http://zz.to8to.com/zs/1673623/"
                           class="zzx-company-list zzx-company-nonmargin click-count"
                           target="_blank" data-rsc="cmp_1673623_pc首页找装修____" data-comid="1673623">
                            <div class="zzx-company-img">
                                <div class="company-bag-url">
                                    <img src="https://img.to8to.com//to8to_pc/index/statics/img/16.jpg"
                                         class="zzx-company-bag"
                                         alt="河南小龙装饰工程有限公司">
                                </div>
                                <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                                       src="http://pic.to8to.com//user/23/headphoto_s_1673623_s.jpg?v=1526032324">
                                </div>
                                <span class="zzx-company-tj bg-tuijian"></span>
                            </div>
                            <div class="zzx-company-detail">
                                <p class="zzx-company-name">小龙装饰公司</p>
                                <ul class="zzx-company-data">
                                    <li class="clearfix"><em>设计案例：</em><span class="">947</span></li>
                                    <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">870</span>
                                    </li>
                                </ul>
                                <span class="zzx-company-bespoke company-zx-phone">免费预约：<span
                                        class="company-zx-phoneNum">186-3894-8563</span></span>
                            </div>
                        </a>
                        <a href="http://zz.to8to.com/zs/11449342/" class="zzx-company-list click-count" target="_blank"
                           data-rsc="cmp_11449342_pc首页找装修____" data-comid="11449342">
                            <div class="zzx-company-img">
                                <div class="company-bag-url">
                                    <img src="https://img.to8to.com//to8to_pc/index/statics/img/14.jpg"
                                         class="zzx-company-bag"
                                         alt="微妆（上海）环保节能科技有限公司">
                                </div>
                                <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                                       src="http://pic.to8to.com//user/42/headphoto_s_11449342_s.jpg?v=1565667428">
                                </div>
                                <span class="zzx-company-tj bg-tuijian"></span>
                                <span class="ad-icon"></span></div>
                            <div class="zzx-company-detail">
                                <p class="zzx-company-name">微妆换新装饰</p>
                                <ul class="zzx-company-data">
                                    <li class="clearfix"><em>设计案例：</em><span class="">3</span></li>
                                    <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">4</span>
                                    </li>
                                </ul>
                                <span class="company--enter--store">进入店铺</span>
                            </div>
                        </a>
                        <a href="http://zz.to8to.com/zs/11290632/" class="zzx-company-list click-count" target="_blank"
                           data-rsc="cmp_11290632_pc首页找装修____" data-comid="11290632">
                            <div class="zzx-company-img">
                                <div class="company-bag-url">
                                    <img src="https://img.to8to.com//to8to_pc/index/statics/img/3.jpg"
                                         class="zzx-company-bag"
                                         alt="河南苏凯装饰工程有限公司">
                                </div>
                                <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                                       src="http://pic.to8to.com//user/32/headphoto_s_11290632_s.jpg?v=1563000736">
                                </div>
                                <span class="zzx-company-tj bg-tuijian"></span>
                            </div>
                            <div class="zzx-company-detail">
                                <p class="zzx-company-name">苏凯装饰</p>
                                <ul class="zzx-company-data">
                                    <li class="clearfix"><em>设计案例：</em><span class="">81</span></li>
                                    <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">17</span>
                                    </li>
                                </ul>
                                <span class="zzx-company-bespoke company-zx-phone">免费预约：<span
                                        class="company-zx-phoneNum">6666-8888</span></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--装修公司推荐部分　End-->
    </div>

    <!--引入footer部分-->
    <div th:replace="footer::footer"></div>
</div>
</body>
</html>
